/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* initial set up */
    font-family: "Lato", sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height:1.7;
    color:#777;
    /* ---------------- */
    padding:30px;
}

.header{
    height:95vh;
    /* multiple BG-image */
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)),
        url("../img/hero.jpg");
    background-size: cover;
    /* center, bottom, % etc */
    background-position: top;
    /* to create the corner - clip */
    /* clip-path:polygon(x y, x y, x y); */
    clip-path:polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position:relative;
}

.logo-box{
    /* position logo at the left corner */
    /* set parent(header) position:relative */
    position:absolute;
    top:40px;
    left:40px;

}

.logo{
    /* always control image size with heright */
    /* width will be automatically adjusted */
    height:35px;
}


/* we want to set texts in the middle */
.text-box{
    position:absolute;
    top: 40%;   /* in relation to parent element*/
    left: 50%;   /* in relation to parent element*/
    /* translate (width, height) */
     /* in relation to element itself */
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color:#fff;
    text-transform:uppercase;

    /* to prevent the animated
    texts to have shaky effect */
    backface-visibility: hidden;
    margin-bottom: 60px;
}

/* span is inline element */
/* set both text display:block */
.heading-primary-main{
    display:block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
/* set animation effect */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    /*
    animation-iteration-count:3;
    animation-timing-function: ease-out;
    animation-delay:3s;
    */
}

.heading-primary-sub{
    display:block;
    font-size:20px;
    font-weight:700;
    letter-spacing: 17.4px;
    /* this is a shorthand */
    animation:moveInRight 1s ease-out;
}


/*animate the title */
@keyframes moveInLeft {
    /* where animation starts */
    0%{
        opacity:0; /* first it's invisible */
        /* x: left to right */
        /* negative - move the element to the right  */
        transform:translateX(-100px)
        /* rotate(50deg) */;
    }
    /*
    60%{
        transform:rotate(120deg);
    }
    */
    80%{
        /* bounce back! */
        transform:translateX(10px);
    }

    /* where animation ends */
    100%{
        opacity:1;
         /* final is where it is now  */
        transform: translate(0);

    }
}

@keyframes moveInRight {
    /* where animation starts */
    0%{
        opacity:0; /* first it's invisible */
        /* x: left to right */
        /* positive - move the element to the left  */
        transform:translateX(100px);
    }

    80%{
        /* bounce back! */
        transform:translateX(-10px);
    }

    /* where animation ends */
    100%{
        opacity:1;
         /* final is where it is now  */
        transform: translate(0);

    }
}

@keyframes moveInButtom {
    /* where animation starts */
    0%{
        opacity:0;
        /* positive - move it down (Y)  */
        transform:translateY(30px);
    }

    /* where animation ends */
    100%{
        opacity:1;
         /* final is where it is now  */
        transform: translate(0);

    }
}

/* pseudo class tyle elements
on particular occation */
/* these are initial state */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display:inline-block;
    border-radius: 100px;
    transition: all .2s;
    position:relative;
}

.btn:hover{
    /* move up the button
    when hover*/
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active{
    /* when clicked button
    goes down a bit */
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white{
    background-color: #fff;
    color:#777;
    /* to position button
    center, add text-align:center
    for .text-box */
}

.btn::after{
    content: "";
    display: inline-block;
    height:100%;
    width:100%;
    border-radius:100px;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    transition:all .4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after{
    transform:scaleX(1.4) scaleY(1.6);
    opacity:0;
}

.btn-animated{
    animation:moveInButtom .5s ease-out .75s;
    animation-fill-mode:backwards;
}

