$color-primary: #55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
html{
    /* 10px / 16px =62.5% */
    font-size:62.5%;
}

body{
    /* initial set up */
    font-family: "Lato", sans-serif;
    font-weight:400;
    /* font-size: 16px; */
    line-height:1.7;
    color:$color-white;
    /* ---------------- */
    padding:3rem;
    /* set box-sizing here
    then *{box-sizing:inherit} */
    box-sizing: border-box;
}

.header{
    height:95vh;
    /* multiple BG-image */
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url("../img/hero.jpg");
    background-size: cover;
    /* center, bottom, % etc */
    background-position: top;
    /* to create the corner - clip */
    /* clip-path:polygon(x y, x y, x y); */
    clip-path:polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position:relative;

    &__logo-box{
    /* position logo at the left corner */
    /* set parent(header) position:relative */
    position:absolute;
    top:4rem;
    left:4rem;
    }

    &__logo{
        /* always control image size with heright */
        /* width will be automatically adjusted */
        height:3.5rem;
    }

    /* we want to set texts in the middle */
    &__text-box{
        position:absolute;
        top: 40%;   /* in relation to parent element*/
        left: 50%;   /* in relation to parent element*/
        /* translate (width, height) */
        /* in relation to element itself */
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

.heading-primary{
    color:$color-white;
    text-transform:uppercase;

    /* to prevent the animated
    texts to have shaky effect */
    backface-visibility: hidden;
    margin-bottom: 6rem;
    /* span is inline element */
/* set both text display:block */
&--main{
    display:block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
/* set animation effect */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    /*
    animation-iteration-count:3;
    animation-timing-function: ease-out;
    animation-delay:3s;
    */
}
&--sub{
    display:block;
    font-size:2rem;
    font-weight:700;
    letter-spacing: 1.75rem;
    /* this is a shorthand */
    animation:moveInRight 1s ease-out;
}

}






/*animate the title */
@keyframes moveInLeft {
    /* where animation starts */
    0%{
        opacity:0; /* first it's invisible */
        /* x: left to right */
        /* negative - move the element to the right  */
        transform:translateX(-10rem)
        /* rotate(50deg) */;
    }
    /*
    60%{
        transform:rotate(120deg);
    }
    */
    80%{
        /* bounce back! */
        transform:translateX(1rem);
    }

    /* where animation ends */
    100%{
        opacity:1;
         /* final is where it is now  */
        transform: translate(0);

    }
}

@keyframes moveInRight {
    /* where animation starts */
    0%{
        opacity:0; /* first it's invisible */
        /* x: left to right */
        /* positive - move the element to the left  */
        transform:translateX(10rem);
    }

    80%{
        /* bounce back! */
        transform:translateX(-1rem);
    }

    /* where animation ends */
    100%{
        opacity:1;
         /* final is where it is now  */
        transform: translate(0);

    }
}

@keyframes moveInButtom {
    /* where animation starts */
    0%{
        opacity:0;
        /* positive - move it down (Y)  */
        transform:translateY(3rem);
    }

    /* where animation ends */
    100%{
        opacity:1;
         /* final is where it is now  */
        transform: translate(0);

    }
}

.btn{
    /* pseudo class tyle elements
on particular occation */
/* these are initial state */
&:link,
&:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display:inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position:relative;
    font-size:1.6rem;
}

&:hover{
    /* move up the button
    when hover*/
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
}


&:active{
    /* when clicked button
    goes down a bit */
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
}


&::after{
    content: "";
    display: inline-block;
    height:100%;
    width:100%;
    border-radius:10rem;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    transition:all .4s;
}

&--white{
    background-color: $color-white;
    color:$color-grey-dark;
    /* to position button
    center, add text-align:center
    for .text-box */
    &::after{
        background-color: $color-white;
    }
}



&:hover::after{
    transform:scaleX(1.4) scaleY(1.6);
    opacity:0;
}

&--animated{
    animation:moveInButtom .5s ease-out .75s;
    animation-fill-mode:backwards;
}


/* pseudo class tyle elements
on particular occation */
/* these are initial state */
&:link,
&:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display:inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position:relative;
    font-size:1.6rem;
}

&:hover{
    /* move up the button
    when hover*/
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
    &::after{
        transform:scaleX(1.4) scaleY(1.6);
        opacity:0;
    }
}


&:active{
    /* when clicked button
    goes down a bit */
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
}


&::after{
    content: "";
    display: inline-block;
    height:100%;
    width:100%;
    border-radius:10rem;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    transition:all .4s;
}

&--animated{
    animation:moveInButtom .5s ease-out .75s;
    animation-fill-mode:backwards;
}


}
