
.header{
    height:95vh;
    /* multiple BG-image */
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url("../img/hero.jpg");
    background-size: cover;
    /* center, bottom, % etc */
    background-position: top;
    /* to create the corner - clip */
    /* clip-path:polygon(x y, x y, x y); */
    clip-path:polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position:relative;

    &__logo-box{
    /* position logo at the left corner */
    /* set parent(header) position:relative */
    position:absolute;
    top:4rem;
    left:4rem;
    }

    &__logo{
        /* always control image size with heright */
        /* width will be automatically adjusted */
        height:3.5rem;
    }

    /* we want to set texts in the middle */
    &__text-box{
        position:absolute;
        top: 40%;   /* in relation to parent element*/
        left: 50%;   /* in relation to parent element*/
        /* translate (width, height) */
        /* in relation to element itself */
        transform: translate(-50%, -50%);
        text-align: center;
    }

}